body {
    padding-top: 70px;
    background-image: url(imagens/virus_white.jpg);
}

.caixa {
    top: 0;
    background: RGB(190,190,190);
    position: fixed;
    padding-bottom: 100px;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: RGB(190,190,190);
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav li {
    display: inline;    
    margin: 0 0 0 2%;
}

nav a {
    text-transform: uppercase;
    color: RGB(0,0,0);
    text-decoration: none;
    font-size: 20px;    
    font-weight: bold;;
}

#item-saiba-mais {  
    padding: 5px 10px 10.5px 10px;   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(imagens/fundo_icone.jpg);
}

.saiba-mais {
    width: 70%;
    height: 70%;
    margin-top: 50px;
    margin-left: 15%;
    border: 2px;
    border-radius: 10px;
    box-shadow: black 2px 2px 5px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

li {
    text-align: left;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0 10px 100px;
    padding-bottom: 10px;
    list-style-type: disc;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-top: 30%;
    padding: 30px 0 30px 0;
  }